{% extends 'base.html' %}
{% load static %}
{% block contenido %}
{% if pregunta is None %}

    <div class="container">
        <div class= "jumbotron my-4">
            <h1>Ya has respondido a todas nuestras preguntas. Mira el tablero de posiciones</h1>
            <a href="{% url 'tablero' %}">Ver Aqui</a>
        </div>
    </div>

{% else %}
    <div class="container">
        <div class= "jumbotron my-4">
            <h2>Categoría: {{pregunta.categoria}}</h3>
                    {% if  pregunta.categoria.nombre == "CULTURA Y ARTE" %}     
    
                        <img src="{% static 'images/culturayarte.png' %}" alt="" width="150" height="150"></p> 
                
                    {% elif  pregunta.categoria.nombre == "HISTORIA" %}     
    
                        <img src="{% static 'images/historia.png' %}" alt="" width="150" height="150"></p> 
                    
                    {% elif  pregunta.categoria.nombre == "DEPORTE" %}     
    
                        <img src="{% static 'images/deporte.png' %}" alt="" width="150" height="150"></p> 
                    
                    {% elif  pregunta.categoria.nombre == "GEOGRAFÍA" %}     
    
                        <img src="{% static 'images/geografia.png' %}" alt="" width="150" height="150"></p> 
                    
                    {% elif  pregunta.categoria.nombre == "ECONOMÍA" %}     
    
                        <img src="{% static 'images/economia.png' %}" alt="" width="150" height="150"></p> 
                    
                    {% elif  pregunta.categoria.nombre == "CIENCIA Y EDUCACIÓN" %}     
    
                        <img src="{% static 'images/cienciayedu.png' %}" alt="" width="150" height="150"></p> 
                    
                    {% elif  pregunta.categoria.nombre == "ENTRETENIMIENTO" %}     
    
                        <img src="{% static 'images/entretenimiento.png' %}" alt="" width="150" height="150"></p> 
                
                    {% endif %}
            <h3>Pregunta: {{pregunta.texto}}</h3>
            <form method = "POST" class = "form">
                {% csrf_token %}
                <input type = "hidden" name="pregunta_pk" value = "{{pregunta.pk}}">
                {% for opciones in pregunta.opciones.all %}
                    <div class="form-check mx-4">
                        <input class = "form-check-input" type = "radio" name="respuesta_pk" value = "{{opciones.pk}}" id ="choice-{forloop.counter}}">
                        <label class = "form-check-label" for = "choice-{forloop.counter}}">
                            {{opciones.texto}}
                        </label>
                    </div>
                {% endfor %}

                    <button type="submit" class ="btn btn-success">
                        Enviar
                    </button>

            </form>
        </div>
    </div>
{% endif %}
{% endblock %}