{% extends 'base.html' %}
{% block contenido %}
    <div class="container">
        <h1 class="text-center my-4">
            <span class="badge badge-info">
                Lost {{contar_user}} mejores jugadores:
            </span>
        </h1>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Usuario</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody>
                {% for user_quiz in usuario_quiz %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <th>{{user_quiz.usuario.username}}</th>
                    <th>{{user_quiz.puntaje_total}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="puntaje_actual">
        <p> {{user.username.upper}}  </p>
        {% for user_quiz in usuario_quiz %}
            {% if user.username == user_quiz.usuario.username %}     

                <p>Tu puntaje fue de: {{user_quiz.puntaje_total}}</p> 
            
             {% endif %}
        {% endfor %}
       
        
    </div>

    {% endblock %}