
.container-login{
    width: 30%;
}
 .container-registro{
    width: 30%;
}


h2{
    color:blue;
}

.logo-g12{
    height:8vh;
    width: 8vh;
}

.inicio{
    text-align: center;
}