
.container-login{
    width: 30%;
}
 .container-registro{
    width: 30%;
}


h2{
    color:blue;
}

.logo-g12{
    height:8vh;
    width: 8vh;
    margin-left: 2vh;
}

.inicio{
    text-align: center;
}

.puntaje_actual{
    color: red;
    font-size: 120%;
    margin-left: 20px;
    font-weight: bold;
}