body{
    height:80vh;
}

.titulo-carpincho {
    color:blue;
}

.logo-g12{
    height:8vh;
    width: 9vh;
    margin-left: 2vh;
}

.inicio{
    text-align: center;
    padding-top: 2vh;
}
.puntaje{
    margin-left:2vh;
    font-weight: bold;
}
.puntaje_actual{
    color: rgb(199, 3, 3);
    font-size: 120%;
}

.jugar-denuevo{
    text-align: center;
}

.comienza {
    color: rgb(255, 141, 11);
    font-weight: bold;
}

.volver {
    color: blue;
}

.subtitle{
    color: rgb(128, 1, 1);
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding: 2vh;
}
.option{
    width: 15vh;
    filter: grayscale(80%);
}
.option:hover{
    border: solid blue 2px;
    border-radius: 20px;
    filter: grayscale(0%);
}

.option2{
    padding:2vh;
    width: 15vh;
    filter: grayscale(80%);
}
.option2:hover{
    border: solid blue 2px;
    border-radius: 20px;
    filter: grayscale(0%);
}

.subdos {
    color: black;
    font-style: italic;
}


.nav-link:hover{
    font-weight: bold;
}

.footer{
    position:fixed;
    text-align: center;
    border-top: solid lightgray 2px;
    padding:2vh;
    bottom:0;
    left: 0;
    right: 0;
    background-color:white;
}

.alerta {
    color:rgb(192, 1, 1);
}

.caja-atencion{
    text-align: center;
}

.jugaste{
    text-align: center;
}

.small{
    color:rgb(253, 82, 82);
    font-size:2vh;
}

.container-registro{
    width: 30%;
    height: 80vh;
    padding-top: 2vh;
}

.container-login{
    width: 30%;
    height: 80vh;
}

.login-btn{
    text-align: center;
}